/* TODO Это что за стиль и что он тут делает? Общий стиль, задает какие то отступы, есть файлик services.scss для этого */
.design__h2 {
    margin-bottom: 16px;

    @include w-from($screen-md){
        margin-bottom: 24px;
    }
}

/* TODO пишем в нижнем регистре имена классов, разделитель слов обычное тире - */
/* TODO зачем повышена специфичность? Вся проблема на мой взгяд от того что ты пытешься стилизовать положение БЭМ блока на странице внутри этого самого БЭМ блока. Я как это буду потом встраивать в CMS? Должно быть легко и просто переиспользовать БЭМ-блок в любом месте страницы не боясь что отступы поедут. */
.section-skillsDesign .section-skills__list{
    margin-top: 36px;

    @include w-from($screen-md){
        margin-top: 30px;
    }

    @include w-from($screen-lg){
        margin-top: 65px;
    }
}

.section-skills__desr.section-skills__desrDesign {
    margin-top: 12px;
}
