<section class="section-experience section-white section">
	<div class="container">
		<h2 class="section-experience__title h2-center h2-title">Наш опыт и компетенции</h2>
		<p class="descr-center">Мы помогает бизнесу и стартапам в России и других странах разрабатывать
																														        и внедрять IT-продукты, учитывающие особенности бизнеса, специфику отрасли.
		</p>
		<div class="experience__swiper swiper">
			<div class="swiper-wrapper experience__list">
				<div class="swiper-slide">
					<div class="experience__item">
						<svg class="experience__item-icon hidden-md" width="42" height="42">
							<use xlink:href="#i-graf"/>
						</svg>
						<span class="experience__item-text">Аналитика и проектирование</span>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="experience__item">
						<svg class="experience__item-icon hidden-md" width="40" height="42">
							<use xlink:href="#i-suitcase"/>
						</svg>
						<span class="experience__item-text">IT-продукты для бизнеса</span>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="experience__item experience__item-active">
						<svg class="experience__item-icon hidden-md" width="42" height="42" viewbox="0 0 68 68" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M22.6404 4.07008C10.575 8.64205 2 20.2849 2 33.9259C2 38.6855 3.04392 43.2017 4.91578 47.2593M22.6404 4.07008C26.1706 2.73238 29.9996 2 34 2C51.6731 2 66 16.2937 66 33.9259C66 36.186 65.7646 38.3912 65.317 40.5185M22.6404 4.07008L27.3179 8.81481C28.0356 9.60494 29.471 12.0148 29.471 15.3333V18.2963C29.5452 19.8765 28.6691 23.9111 24.5708 27.4074C21.1555 30.2963 20.3387 32.4444 20.3387 34.4444V38.2963C20.0665 39.8025 18.7944 43.0815 15.884 44.1481C12.9735 45.2148 7.35916 46.6667 4.91578 47.2593M4.91578 47.2593C9.03788 56.1945 17.1751 62.9053 27.0209 65.0903M41.7216 66C37.4161 66 33.9258 62.5178 33.9258 58.2222C33.9258 54.7202 36.2456 51.7588 39.4357 50.7841C39.4253 50.5982 39.42 50.4108 39.42 50.2222C39.42 44.7812 43.841 40.3704 49.2947 40.3704C53.4572 40.3704 57.0182 42.94 58.471 46.5759C62.7923 47.6263 66 51.5135 66 56.1481C66 61.5892 61.5789 66 56.1253 66H41.7216Z" stroke="#C41E3A" stroke-width="3" stroke-linecap="round"/>
						</svg>
						<span class="experience__item-text">Индивидуальные Онлайн-сервисы</span>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="experience__item">
						<svg class="experience__item-icon hidden-md" width="42" height="42">
							<use xlink:href="#i-chat"/>
						</svg>
						<span class="experience__item-text">Коммуникационные сервисы</span>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="experience__item">
						<svg class="experience__item-icon hidden-md" width="42" height="42">
							<use xlink:href="#i-shop"/>
						</svg>
						<span class="experience__item-text">Маркетплейсы и агрегаторы&nbsp;услуг</span>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="experience__item">
						<svg class="experience__item-icon hidden-md" width="42" height="42">
							<use xlink:href="#i-cloud"/>
						</svg>
						<span class="experience__item-text">SaaS решения</span>
					</div>
				</div>
			</div>
		</div>
		<div class="experience__individual">
			<div class="experience__individual-content">
				<div class="experience__individual-text">
					<h3 class="experience__individual-title">Индивидуальные онлайн-сервисы</h3>
					<p class="experience__individual-descr">Большой опыт и экспертиза по бизнес и системной
																																																												              аналитике в контексте проектирования IT-продукта. Проработа верхнеуровневых идей до
																																																												              детальных декомпозированных требований к программному обеспечению.</p>
					<p class="experience__individual-descr">В отличие от требований, которые описываются в виде
																																																												              текста, таблиц и схем, прототипы&nbsp;наглядно демонстрируют функциональность, пути
																																																												              пользователей и сценарии&nbsp;использования продукта.</p>
					<button class="btn btn-red experience__individual-btn btn-submit">Оставить заявку</button>
				</div>
				<img class="hidden-lg" src="assets/img/circle.png">
			</div>
		</div>
	</div>
</section>
