<section class="section-gray section-hero section-hero-blog-card">
	<div class="container">
		<div class="section-hero__content section-blogCard__content">
			<a href="#" class="help__link">
				<svg class="help__arrow" width="14" height="14">
					<use xlink:href="#i-arrow-l"></use>
				</svg>
				<span class="help__link-text">Назад к статьям</span>
			</a>
			<h1 class="section-hero__title section-hero__title-design">
				Причины выбрать Flutter для разработки приложений (H1)
			</h1>
			<p class="section-hero__descr">
				Как flutter повышает эффективность и ускоряет мобильную разработку без потери в качестве.
			</p>
		</div>
	</div>
</div></section>
