.section-hero.section-hero {
    padding-top: 40px;
    padding-bottom: 40px;
    overflow: hidden;

    @include w-from($screen-md) {
        padding-top: 72px;
        padding-bottom: 72px;
    }

    @include w-from($screen-lg) {
        padding-top: 100px;
        padding-bottom: 72px;

    }
}

.section-hero__title.section-hero__title-design {
    max-width: 100%;
    text-align: start;
}

.section-hero__title.section-hero__title-design ~ .section-hero__descr {
    text-align: start;
}