.section-red {
  position: relative;
  z-index: 2;
  margin-bottom: -200px;

  &__container {
    margin-left: -16px;
    margin-right: -16px;
    background: linear-gradient(90deg, #BA1833 0%, #D73954 100%);
    border-radius: 0;
    padding:  40px 30px;
    color: white;
    display: flex;
    flex-direction: column;

    @include w-from($screen-md) {
      align-items: center;
      border-radius: 16px;
      padding: 48px;
      margin-left: 0;
      margin-right: 0;
    }

    @include w-from($screen-lg) {
      padding: 64px;
    }
  }

  &__controls {
    display: flex;
    flex-direction: column;

    @include w-from($screen-md) {
      flex-direction: row;
    }

    button {
      display: flex;
      justify-content: center;

      @include w-from($screen-md) {
        justify-content: flex-start;
      }
    }

    button:not(:last-child) {
      margin-bottom: 8px;
      width: 100%;

      @include w-from($screen-md) {
        margin-right: 12px;
        margin-bottom: 0;
      }

      @include w-from($screen-lg) {
        margin-right: 22px;
      }
    }
  }

  &__title {
    max-width: 100%;

    @include w-from($screen-lg) {
      max-width: 60%;
    }
  }
}
