<section class="section-skills section-gray section">
	<div class="container">
		<ul class="section-skills__list">
			<li class="section-skills__item">
				<svg class="section-skills__icon" width="68" height="68">
					<use xlink:href="#i-ball"/>
				</svg>
				<div class="section-skills__text">
					<h3 class="section-skills__title">
						Онлайн сервисы
					</h3>
					<p class="section-skills__desr hidden-md">
						Разрабатываем и прототипируем индивидуальные IT-решения для бизнеса, приложений и
																																		            онлайн-сервисов в соответствии со стандартами IEEE / ГОСТ
					</p>
					<p class="section-skills__desr visible-md">
						Проектирование и разработка онлайн-сервисов по индивидуальным требованиям
					</p>
				</div>
			</li>
			<li class="section-skills__item">
				<svg class="section-skills__icon" width="68" height="68">
					<use xlink:href="#i-suitcase"/>
				</svg>
				<div class="section-skills__text">
					<h3 class="section-skills__title">
						IT решения для бизнеса
					</h3>
					<p class="section-skills__desr hidden-md">
						Проектируем и разрабатываем программное обеспечение для автоматизации и планирования
																																			            бизнес-процессов компании, ERP и CRM системы
					</p>
					<p class="section-skills__desr visible-md">
						Проектирование и разработка программного обеспечения для бизнеса
					</p>
				</div>
			</li>
			<li class="section-skills__item">
				<svg class="section-skills__icon" width="54" height="68">
					<use xlink:href="#i-book"/>
				</svg>
				<div class="section-skills__text">
					<h3 class="section-skills__title">
						Разработка приложений
					</h3>
					<p class="section-skills__desr hidden-md">
						Разрабатываем веб-приложения, браузерные расширения и мобильные приложения для
																																	            интернет-проектов, бизнеса и стартапов. Прорабатываем UI и Backend
					</p>
					<p class="section-skills__desr visible-md">
						Разработка мобильных приложений для интернет-проектов, бизнеса и стартапов
					</p>
				</div>
			</li>
		</ul>
	</div>
</section>