<section class="section-why section section-gray">
	<div class="container">
		<h2 class="design__h2 h2-title">Реализуем полный цикл работ по разработке
																					ПО для сложных IT-продуктов</h2>
		<p class="section-skills__desr">
			Ценностью проектирования является как сам процесс, так и полученный в итоге результат. Процесс проектирования позволяет проработать существующие идеи и увидеть новые. Конечный результат позволяет сформировать и согласовать с командой подробное видение продукта и является основой для старта разработки.
		</p>
		<ul class="section-why__list section-cycle__list">
			<li class="section-principles__item">
				<svg class="section-why__icon" width="32" height="32">
					<use xlink:href="#i-page"/>
				</svg>
				<div class="section-principles__item-text">
					<span class="section-principles__span">Проектирование</span>
					<p class="section-principles__descr section-cycle__descr">Концептуальное проектирование, аналитика, прототипирование и формирование требований к программному обеспечению.</p>
					<a href="#" class="help__link services-help__link">
						<span class="help__link-text services-help__link-text">Подробнее</span>
					</a>
				</div>
			</li>
			<li class="section-principles__item">
				<svg class="section-why__icon" width="25" height="32">
					<use xlink:href="#i-ok"/>
				</svg>
				<div class="section-principles__item-text">
					<span class="section-principles__span">Разработка</span>
					<p class="section-principles__descr section-cycle__descr">Проектирование технической архитектуры, формирование команды и разработка программного обеспечения по индивидуальным требованиям.</p>
					<a href="#" class="help__link services-help__link">
						<span class="help__link-text services-help__link-text">Подробнее</span>
					</a>
				</div>
			</li>
			<li class="section-principles__item">
				<svg class="section-why__icon" width="34" height="36">
					<use xlink:href="#i-chamomile"/>
				</svg>
				<div class="section-principles__item-text">
					<span class="section-principles__span">Обслуживание и развитие</span>
					<p class="section-principles__descr section-cycle__descr">Техническая поддержка, мониторинг работоспособности и реакция на инциденты, консультирование и поддержка пользователей.</p>
					<a href="#" class="help__link services-help__link">
						<span class="help__link-text services-help__link-text">Подробнее</span>
					</a>
				</div>
			</li>
		</ul>
	</div>
</section>
