<section class="section-gray section-hero section-hero-design">
	<div class="container">
		<div class="section-hero__content">
			<h1 class="section-hero__title section-hero__title-design">
				Услуги
			</h1>
			<p class="section-hero__descr">
				С 2007 года создаем и обслуживаем сложные IT-продукты для бизнеса
			</p>
			<div class="section-hero__controllers">
				<button class="btn btn-application btn-submit">
					<span>Оставить заявку</span>
					<svg class="btn-application__arrow" width="14" height="14">
						<use xlink:href="#i-arrow-r"/>
					</svg>
				</button>
				<button class="btn btn-dark">
					<span>Презентация</span>
					<svg class="btn-dark__arrow" width="14" height="14" height="14">
						<use xlink:href="#i-arrow-b"/>
					</svg>
				</button>
			</div>
		</div>
	</div>
</section>