<section class="section-skills section-white section">
	<div class="container">
		<ul class="section-skills__list">
			<li class="section-skills__item">
				<svg class="section-skills__icon" width="68" height="68">
					<use xlink:href="#i-ball"/>
				</svg>
				<div class="section-skills__text">
					<h3 class="section-skills__title">
						Онлайн сервисы
					</h3>
					<p class="section-skills__desr">
						Проектирование и разработка онлайн-сервисов по индивидуальным требованиям
					</p>
					<div class="services-help__link-container">
						<a href="#" class="help__link services-help__link">
							<span class="help__link-text services-help__link-text">Подробнее</span>
						</a>
					</div>
				</div>
			</li>
			<li class="section-skills__item">
				<svg class="section-skills__icon" width="68" height="68">
					<use xlink:href="#i-suitcase"/>
				</svg>
				<div class="section-skills__text">
					<h3 class="section-skills__title">
						IT решения для бизнеса
					</h3>
					<p class="section-skills__desr">
						Проектирование и разработка
																																										программного обеспечения для бизнеса
					</p>
					<div class="services-help__link-container">
						<a href="#" class="help__link services-help__link">
							<span class="help__link-text services-help__link-text">Подробнее</span>
						</a>
						<a href="#" class="help__link services-help__link">
							<span class="help__link-text services-help__link-text">Портфолио</span>
						</a>
					</div>
				</div>
			</li>
			<li class="section-skills__item">
				<svg class="section-skills__icon" width="54" height="68">
					<use xlink:href="#i-book"/>
				</svg>
				<div class="section-skills__text">
					<h3 class="section-skills__title">
						Разработка приложений
					</h3>
					<p class="section-skills__desr">
						Разработка мобильных приложений для интернет-проектов, бизнеса и стартапов
					</p>
					<div class="services-help__link-container">
						<a href="#" class="help__link services-help__link">
							<span class="help__link-text services-help__link-text">Подробнее</span>
						</a>
						<a href="#" class="help__link services-help__link">
							<span class="help__link-text services-help__link-text">Портфолио</span>
						</a>
					</div>
				</div>
			</li>
		</ul>
	</div>
</section>
