<section class="section-gray section-hero section-hero-design">
	<div class="container">
		<div class="section-hero__content">
			<h1 class="section-hero__title section-hero__title-design">
				Блог и статьи
			</h1>
			<div class="hero__nav">
				<div class="hero__nav-item">
					<h4 class="hero__nav-title">Тип проекта</h4>
					<ul class="hero__nav-list">
						<li class="hero__nav-list__item">
							<ul class="hero__nav-list__item-content">
								<li class="hero__nav-list__item-text">
									<a href="#">Решения для бизнеса</a>
								</li>
								<li class="hero__nav-list__item-text">
									<a href="#">Онлайн-сервисы</a>
								</li>
								<li class="hero__nav-list__item-text">
									<a href="#">Мобильные приложения</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
                <div class="hero__nav-item">
					<h4 class="hero__nav-title">Сфера</h4>
					<ul class="hero__nav-list">
						<li class="hero__nav-list__item">
							<ul class="hero__nav-list__item-content">
								<li class="hero__nav-list__item-text">
									<a href="#">Сфера услуг</a>
								</li>
								<li class="hero__nav-list__item-text">
									<a href="#">Логистика</a>
								</li>
								<li class="hero__nav-list__item-text">
									<a href="#">Сообщества</a>
								</li>
							</ul>
						</li>
                        <li class="hero__nav-list__item">
							<ul class="hero__nav-list__item-content">
								<li class="hero__nav-list__item-text">
									<a href="#">Автоматизация бизнеса (CRM/ERP)</a>
								</li>
								<li class="hero__nav-list__item-text">
									<a href="#">Образование</a>
								</li>
								<li class="hero__nav-list__item-text">
									<a href="#">Онлайн-коммуникации</a>
								</li>
							</ul>
						</li>
                        <li class="hero__nav-list__item">
							<ul class="hero__nav-list__item-content">
								<li class="hero__nav-list__item-text">
									<a href="#">Маркетплейсы</a>
								</li>
								<li class="hero__nav-list__item-text">
									<a href="#">Электроэнергетика</a>
								</li>
								<li class="hero__nav-list__item-text">
									<a href="#">SaaS</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>