<section class="section-blog-text section">
	<div class="container">
		<div class="section-blog-text__content">
			<div class="section-blog-text__content-user">
				<img class="section-blog-text__content-user-img" src="assets/img/user.png">
				<span class="section-blog-text__content-title">Инкогнито Имя</span>
				<span class="section-blog-text__content-date">10 февраля 2021</span>
				<span class="section-blog-text__content-time">5 минут на чтение</span>
			</div>
			<div class="section-blog-text__content-text">
				<h2 class="design__h2 h2-title">Концептуальное проектирование</h2>
				<div class="section-blog-text__content-block">
					<p class="section-skills__desr">Отрасль разработки мобильных приложений динамична и высоко конкурентна. Важными являются сразу множество факторов, в особенности время вывода на рынок и эффективность затрачиваемых ресурсов разработчиков, т.к. это основная статья затрат в бюджете на разработку.</p>
					<p class="section-skills__desr">Сообщество разработчиков находится в постоянном поиске новых подходов, инструментов, фреймворков и библиотек, которые могут помочь справиться с постоянно растущими и меняющимися бизнес-требованиями.</p>
				</div>
				<div class="section-blog-text__content-block">
					<p class="section-skills__desr">Понимая это, технологические гиганты выводят на рынок собственные разработки, позволяющие повысить эффективность и упростить разработку приложений. Один из таких инструментов — это Flutter от Google, призванный облегчить разработку кроссплатформенных приложений.</p>
					<p class="section-skills__desr">Flutter — это платформа для разработки пользовательских интерфейсов, впервые представленная Google на мероприятии I/O в 2017 году. Первая стабильная версия была представлена для разработчиков позднее, на конференции Flutter Live в 2018 году, и с тех пор Flutter является одной из наиболее востребованных платформ для создания кроссплатформенных приложений (не только мобильных, об этом далее).</p>
				</div>
				<div class="section-blog-text__content-block">
					<p class="section-skills__desr">На данный момент Flutter применяют ведущие онлайн-сервисы и компании, такие как Alibaba Group, Google Ads, Philips и другие.</p>
				</div>
				<p class="section-blog-text__content-mark">Отрасль разработки мобильных приложений динамична и высоко конкурентна. Важными являются сразу множество факторов, в особенности время вывода на рынок и эффективность затрачиваемых ресурсов разработчиков, т.к. это основная статья затрат в бюджете на разработку.</p>
				<ul class="section-blog-text__content-list-red">
					<li class="section-blog-text__content-list-red__item">
						<span>Отрасль разработки мобильных приложений динамична и высоко конкурентна.</span>
					</li>
					<li class="section-blog-text__content-list-red__item">
						<span>Важными являются сразу множество факторов.</span>
					</li>
					<li class="section-blog-text__content-list-red__item">
						<span>В особенности время вывода на рынок и эффективность затрачиваемых ресурсов разработчиков.</span>
					</li>
				</ul>
				<ul class="section-blog-text__content-list">
					<li class="section-blog-text__content-list__item">
						<span>Отрасль разработки мобильных приложений динамична и высоко конкурентна.</span>
					</li>
					<li class="section-blog-text__content-list__item">
						<span>Важными являются сразу множество факторов.</span>
					</li>
					<li class="section-blog-text__content-list__item">
						<span>В особенности время вывода на рынок и эффективность затрачиваемых ресурсов разработчиков.</span>
					</li>
				</ul>
				<img src="assets/img/blockCard.png" class="section-blog-text__content-img">
				<h2 class="design__h2 h2-title">Почему Flutter хорош для разработки мобильных приложений?</h2>
				<h3 class="section-blog-text__h3">Кроссплатформенная разработка приложений</h3>
				<p class="section-skills__desr">Одно из основных преимуществ Flutter — возможность один раз разработать код, который может быть скомпилирован под множество платформ. На данный момент Flutter поддерживает разработку приложений для Andoid и iOs. В отличие от других кросс-платформенных платформ, использующих промежуточный интерпретатор и javascript как основной язык, flutter позволяет встраивать в приложение нативные компоненты ПО разработанные для применения при нативной разработки (различные узкоспециализированные SDK).</p>
                <h3 class="section-blog-text__h3">Универсальные приложения</h3>
				<p class="section-skills__desr">Flutter поставляется с набором встроенных виджетов, которые используются для создания приложений. Этот проприетарный набор можно кастомизировать для разработки собственных элементов пользовательского интерфейса. Встроенные виджеты сделаны с большим вниманием к визуальным деталям, поэтому они могут «из коробки» использоваться для построения качественных пользовательских интерфейсов с минимальными трудозатратами</p>
			</div>
		</div>
	</div>
</section>
