<section class="section-artefact section">
	<div class="container section-artefact__container">
		<div class="section-artefact__left">
			<h2 class="design__h2 h2-title">Ключевые артефакты проектирования</h2>
			<p class="section-skills__desr">
				Концептуальное проектирование — процесс проработки верхнеуровневых идей о продукте в структурированный набор документов и артефактов, пригодный для использования в процессе дальнейшей разработки IT-продукта.
			</p>
			<p class="section-skills__desr section-skills__desrDesign">
				В процессе концептуального проектирования формируется подробное описание требований к информационной системе без учета технологической платформы, на которой система будет разрабатываться. Таким образом, результат концептуального проектирования подробно отвечает на вопросы «Что сделать?» и «Как сделать?», без подробностей технической реализации, детализация которой является частью разработки (в рамках технического проектирования).
			</p>
		</div>
		<div class="section-artefact__right">
			<ul class="section-artefact__list">
				<li class="section-artefact__item">
					<span><svg width="14" height="8"><use xlink:href="#i-jackdaw"/></svg>Модель предметной области</span>
				</li>
				<li class="section-artefact__item section-artefact__item-active">
					<span><svg width="14" height="8"><use xlink:href="#i-jackdaw"/></svg>Акторы (пользователи и системы)</span>
					<p class="section-artefact__descr">Описание акторов, использующих систему. Классификация требований по пользователям, системным акторам и внешним системам.</p>
				</li>
				<li class="section-artefact__item">
					<span><svg width="14" height="8"><use xlink:href="#i-jackdaw"/></svg>Компоненты и архитектура</span>
				</li>
				<li class="section-artefact__item">
					<span><svg width="14" height="8"><use xlink:href="#i-jackdaw"/></svg>Функциональные требования</span>
				</li>
				<li class="section-artefact__item">
					<span><svg width="14" height="8"><use xlink:href="#i-jackdaw"/></svg>Модель данных</span>
				</li>
				<li class="section-artefact__item">
					<span><svg width="14" height="8"><use xlink:href="#i-jackdaw"/></svg>Прототипы UI</span>
				</li>
				<li class="section-artefact__item">
					<span><svg width="14" height="8"><use xlink:href="#i-jackdaw"/></svg>Бизнес-правила</span>
				</li>
				<li class="section-artefact__item">
					<span><svg width="14" height="8"><use xlink:href="#i-jackdaw"/></svg>Нефункциональные требования</span>
				</li>
				<li class="section-artefact__item">
					<span><svg width="14" height="8"><use xlink:href="#i-jackdaw"/></svg>Интеграционные требования</span>
				</li>
			</ul>
		</div>
	</div>
</section>
