<footer class="section-footer">
	<div class="container">
		<div class="section-footer__grid">
			<div class="section-footer__item">
				<h4 class="section-footer__title">Компания</h4>
				<ul class="section-footer__list hidden-md">
					<li class="section-footer__list-item">О нас</li>
					<li class="section-footer__list-item">Работа у нас</li>
					<li class="section-footer__list-item">Блог</li>
				</ul>
				<ul class="section-footer__list hidden-md">
					<li class="section-footer__list-item">Принципы</li>
					<li class="section-footer__list-item">Люди</li>
					<li class="section-footer__list-item">Технологии</li>
					<li class="section-footer__list-item">Процесс</li>
				</ul>
			</div>
            <div class="section-footer__item">
				<h4 class="section-footer__title">Услуги</h4>
				<ul class="section-footer__list hidden-md">
					<li class="section-footer__list-item">Онлайн сервисы</li>
					<li class="section-footer__list-item">IT решения для бизнеса</li>
					<li class="section-footer__list-item">Разработка приложений</li>
				</ul>
				<ul class="section-footer__list hidden-md">
					<li class="section-footer__list-item">Проектирование</li>
					<li class="section-footer__list-item">Разработка ПО</li>
					<li class="section-footer__list-item">Сопровождение и развитие</li>
					<li class="section-footer__list-item">Выделенная команда</li>
				</ul>
			</div>
            <div class="section-footer__item">
				<h4 class="section-footer__title">Проекты</h4>
				<ul class="section-footer__list hidden-md">
					<li class="section-footer__list-item">Мобильные приложения</li>
					<li class="section-footer__list-item">Онлайн-сервисы</li>
					<li class="section-footer__list-item">Для бизнеса</li>
				</ul>
				<ul class="section-footer__list hidden-md">
					<li class="section-footer__list-item">Сфера услуг</li>
					<li class="section-footer__list-item">Автоматизация бизнеса</li>
					<li class="section-footer__list-item">Маркетплейсы</li>
					<li class="section-footer__list-item">Сообщества</li>
                    <li class="section-footer__list-item">Логистика</li>
				</ul>
			</div>
            <div class="section-footer__item">
				<h4 class="section-footer__title">Решения</h4>
				<ul class="section-footer__list hidden-md">
					<li class="section-footer__list-item">Servetta</li>
					<li class="section-footer__list-item">Guestbox</li>
					<li class="section-footer__list-item">Some think</li>
				</ul>
				<ul class="section-footer__list hidden-md">
					<li class="section-footer__list-item">Онлайн-образование</li>
					<li class="section-footer__list-item">Маркетплейсы</li>
					<li class="section-footer__list-item">Веб-сервисы</li>
					<li class="section-footer__list-item">Веб-приложения</li>
                    <li class="section-footer__list-item">Высоконагружнные проекты</li>
				</ul>
			</div>
		</div>
	</div>
</footer>
