<section class="section-help section-gray section">
	<div class="container">
		<div class="help__head visible-lg">
			<span class="help__span">мы помогаем</span>
			<h2 class="help__title h2-title">Проектирование и
																																																																	          разработка IT&NoBreak;-&NoBreak;продуктов
			</h2>
		</div>
		<div class="help__container">
			<a href="#" class="help__link visible-md">
				<svg class="help__arrow" width="14" height="14">
					<use xlink:href="#i-arrow-r"></use>
				</svg>
				<span class="help__link-text">Оставить заявку</span>
			</a>
			<p class="help__descr visible-md">В зависимости от стадии проекта и его особенностей мы выбираем наиболее
																																																																		          эффективную методологию - классическую, гибкую или их комбинацию. При создании нового продукта
																																																																		          мы предлагаем компоновку методологий, которая позволит максимально использовать имеющиеся
																																																																		          ресурсы</p>
			<picture>
				<source srcset="assets/img/handHelp.png" media="(min-width:1024px)">
				<source srcset="assets/img/handHelpLg.png" media="(min-width:667px)">
				<img src="assets/img/handHelpMd.png">
			</picture>
			<div class="help__content">
				<div class="help__head hidden-lg">
					<span class="help__span">мы помогаем</span>
					<h2 class="help__title h2-title">Проектирование и
																																																																													          разработка&nbsp;IT-продуктов
					</h2>
				</div>
				<p class="help__descr">KodApp занимается разработкой IT-продуктов для бизнеса и стартапов в России и
																																																																				          мире, учитывая индивидуальные требования, специфику отрасли и привычки клиентов.</p>
				<p class="help__descr hidden-md">В зависимости от стадии проекта и его особенностей мы выбираем наиболее
																																																																				          эффективную методологию - классическую, гибкую или их комбинацию. При создании нового продукта
																																																																				          мы предлагаем компоновку методологий, которая позволит максимально использовать имеющиеся
																																																																				          ресурсы</p>
				<a href="#" class="help__link hidden-md">
					<svg class="help__arrow" width="14" height="14">
						<use xlink:href="#i-arrow-r"></use>
					</svg>
					<span class="help__link-text">Оставить заявку</span>
				</a>
			</div>
		</div>
	</div>
</section>
