<section class="section-gray section-hero section-hero-blog-card section-hero-portfolio-card">
	<div class="container">
		<div class="section-hero__content section-blogCard__content">
			<a href="#" class="help__link">
				<svg class="help__arrow" width="14" height="14">
					<use xlink:href="#i-arrow-l"></use>
				</svg>
				<span class="help__link-text">Назад к статьям</span>
			</a>
			<h1 class="section-hero__title section-hero__title-design">
				Кабинет участника для турнира «Кубок Кремля»
			</h1>
			<p class="section-hero__descr">
				Автоматизации взаимодействия организаторов и участников турнира
			</p>
		</div>
	</div>
</section>