<section class="section-gallery section">
	<div class="container">
		<h2 class="section-gallery__title h2-title">Примеры требований в системе управления требованиями</h2>
		<div class="section-gallery__gallery">
			<div class="section-gallery__gallery-item">
				<img src="assets/img/galleryOne.png">
			</div>
            <div class="section-gallery__gallery-item">
				<img src="assets/img/galleryOne.png">
			</div>
            <div class="section-gallery__gallery-item">
				<img src="assets/img/galleryOne.png">
			</div>
            <div class="section-gallery__gallery-item">
				<img src="assets/img/galleryOne.png">
			</div>
            <div class="section-gallery__gallery-item">
				<img src="assets/img/galleryOne.png">
			</div>
            <div class="section-gallery__gallery-item">
				<img src="assets/img/galleryOne.png">
			</div>
            <div class="section-gallery__gallery-item">
				<img src="assets/img/galleryOne.png">
			</div>
            <div class="section-gallery__gallery-item">
				<img src="assets/img/galleryOne.png">
			</div>
            <div class="section-gallery__gallery-item">
				<img src="assets/img/galleryOne.png">
			</div>
            <div class="section-gallery__gallery-item">
				<img src="assets/img/galleryOne.png">
			</div>
            <div class="section-gallery__gallery-item">
				<img src="assets/img/galleryOne.png">
			</div>
            <div class="section-gallery__gallery-item">
				<img src="assets/img/galleryOne.png">
			</div>
		</div>
	</div>
</section>
