<section class="section-principles section section-gray">
	<div class="container">
		<h2 class="section-principles__title h2-title">Принципы работы</h2>
		<ul class="section-principles__list">
			<li class="section-principles__item">
				<svg class="section-principles__icon" width="52" height="52">
					<use xlink:href="#i-tablet"/>
				</svg>
				<div class="section-principles__item-text">
					<span class="section-principles__span">Продуктовый подход</span>
					<p class="section-principles__descr">Результат нашей работы — эксплуатация разработанного
																																		                            продукта и создание ценности за счет его использования.</p>
					<p class="section-principles__descr">Мы не продаем часы и не занимаемся аутстафингом
																																		                            разработчиков. Мы работаем над продуктом от начальных требований до внедрения и
																																		                            эксплуатации.</p>
				</div>
			</li>
			<li class="section-principles__item">
				<svg class="section-principles__icon" width="48" height="52">
					<use xlink:href="#i-directions"/>
				</svg>
				<div class="section-principles__item-text">
					<span class="section-principles__span">Продуктовый подход</span>
					<p class="section-principles__descr">Результат нашей работы — эксплуатация разработанного
																																	                            продукта и создание ценности за счет его использования.</p>
					<p class="section-principles__descr">Мы не продаем часы и не занимаемся аутстафингом
																																	                            разработчиков. Мы работаем над продуктом от начальных требований до внедрения и
																																	                            эксплуатации.</p>
				</div>
			</li>
			<li class="section-principles__item">
				<svg class="section-principles__icon" width="52" height="52">
                    <use xlink:href="#i-target"/>
                </svg>
				<div class="section-principles__item-text">
					<span class="section-principles__span">Продуктовый подход</span>
					<p class="section-principles__descr">Результат нашей работы — эксплуатация разработанного
																																                            продукта и создание ценности за счет его использования.</p>
					<p class="section-principles__descr">Мы не продаем часы и не занимаемся аутстафингом
																																                            разработчиков. Мы работаем над продуктом от начальных требований до внедрения и
																																                            эксплуатации.</p>
				</div>
			</li>
		</ul>
	</div>
</section>
