<section class="section-principles section section-gray">
	<div class="container">
		<h2 class="section-principles__title h2-title">Принципы работы</h2>
		<ul class="section-principles__list">
			<li class="section-principles__item">
				<svg class="section-principles__icon" width="52" height="52">
					<use xlink:href="#i-tablet"/>
				</svg>
				<div class="section-principles__item-text">
					<span class="section-principles__span">Продуктовый подход</span>
					<p class="section-principles__descr">Результат нашей работы — эксплуатация разработанного
																																		                            продукта и создание ценности за счет его использования.</p>
					<p class="section-principles__descr">Мы не продаем часы и не занимаемся аутстафингом
																																		                            разработчиков. Мы работаем над продуктом от начальных требований до внедрения и
																																		                            эксплуатации.</p>
				</div>
			</li>
			<li class="section-principles__item">
				<svg class="section-principles__icon" width="48" height="52">
					<use xlink:href="#i-directions"/>
				</svg>
				<div class="section-principles__item-text">
					<span class="section-principles__span">Продуктовый подход</span>
					<p class="section-principles__descr">Результат нашей работы — эксплуатация разработанного
																																	                            продукта и создание ценности за счет его использования.</p>
					<p class="section-principles__descr">Мы не продаем часы и не занимаемся аутстафингом
																																	                            разработчиков. Мы работаем над продуктом от начальных требований до внедрения и
																																	                            эксплуатации.</p>
				</div>
			</li>
			<li class="section-principles__item">
				<svg class="section-principles__icon" width="52" height="52" viewbox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M32.9057 26C32.9057 29.8139 29.8139 32.9057 26 32.9057C22.1861 32.9057 19.0943 29.8139 19.0943 26C19.0943 22.1861 22.1861 19.0943 26 19.0943M37.9434 5.17813C34.4261 3.15628 30.3481 2 26 2C12.7452 2 2 12.7452 2 26C2 39.2548 12.7452 50 26 50C39.2548 50 50 39.2548 50 26C50 21.6519 48.8437 17.5739 46.8219 14.0566M39.6376 19.0943C40.6899 21.1685 41.283 23.515 41.283 26C41.283 34.4406 34.4406 41.283 26 41.283C17.5594 41.283 10.717 34.4406 10.717 26C10.717 17.5594 17.5594 10.717 26 10.717C28.5531 10.717 30.96 11.343 33.0755 12.4499M26.1698 26L43.717 8.50943M43.717 8.50943H50V3.81132L48.4151 2.22642H43.717V8.50943Z" stroke="#C41E3A" stroke-width="3" stroke-linecap="round"/>
				</svg>
				<div class="section-principles__item-text">
					<span class="section-principles__span">Продуктовый подход</span>
					<p class="section-principles__descr">Результат нашей работы — эксплуатация разработанного
																																                            продукта и создание ценности за счет его использования.</p>
					<p class="section-principles__descr">Мы не продаем часы и не занимаемся аутстафингом
																																                            разработчиков. Мы работаем над продуктом от начальных требований до внедрения и
																																                            эксплуатации.</p>
				</div>
			</li>
		</ul>
	</div>
</section>
