<section class="section section-about">
	<div class="container">
		<img class="section-about__img" src="assets/img/aboutCard.png">
		<div class="section-about__content">
			<div class="section-about__left">
				<div class="section-about__left-text">
					<h4 class="section-about__left-title">Что мы сделали</h4>
					<ul class="section-about__left-list">
						<li class="section-about__left-item">
							Проектирование
						</li>
						<li class="section-about__left-item">
							Прототипирование
						</li>
						<li class="section-about__left-item">
							Кабинет участника
						</li>
						<li class="section-about__left-item">
							Панель организаторов
						</li>
					</ul>
				</div>
				<div class="section-about__left-text">
					<h4 class="section-about__left-title">Над проектом работали</h4>
					<ul class="section-about__left-list">
						<li class="section-about__left-item">
							Руководитель проекта
						</li>
						<li class="section-about__left-item">
							Дмитрий Юркин
						</li>
						<li class="section-about__left-item">
							Георгий Поплавский
						</li>
					</ul>
				</div>
				<div class="section-about__left-text">
					<h4 class="section-about__left-title">UI</h4>
					<ul class="section-about__left-list">
						<li class="section-about__left-item">
							Павел Гришин
						</li>
					</ul>
				</div>
				<div class="section-about__left-text">
					<h4 class="section-about__left-title">Разработчики</h4>
					<ul class="section-about__left-list">
						<li class="section-about__left-item">
							Евгений Чернобровкин
						</li>
						<li class="section-about__left-item">
							Павел Гришин
						</li>
						<li class="section-about__left-item">
							Валентин Лидин
						</li>
					</ul>
				</div>
				<div class="section-about__left-text">
					<h4 class="section-about__left-title">QA</h4>
					<ul class="section-about__left-list">
						<li class="section-about__left-item">
							Маргарита Бакашова
						</li>
					</ul>
				</div>
			</div>
			<div class="section-about__right">
				<h3 class="gallery__title">О проекте</h3>
				<h4 class="section-about__right-title">Ситуация</h4>
				<p class="section-skills__desr">Ежегодный теннисный турнир собирает множество спортсменов. Для каждого участника необходимо осуществить набор типовых действий (запрос визы, заказ трансферов, гостиницы и т.д.). Действия осуществляются по запросу участников или их менеджеров с передачей необходимой информации.</p>
				<h4 class="section-about__right-title">Потребность</h4>
				<p class="section-skills__desr">Организаторам турнира необходимо систематизировать хранение и обработку запросов от участников турнира. Каждый тип запросов имеет свой набор атрибутов и специфику обработки. Система автоматизирует обработку следующих запросов:</p>
				<ul class="section-about__right-list">
					<li class="section-about__right-item">
						Заказ визы
					</li>
					<li class="section-about__right-item">
						Заказ трансфера
					</li>
					<li class="section-about__right-item">
						Заказ гостинцы
					</li>
					<li class="section-about__right-item">
						Аккредитация
					</li>
				</ul>
				<h4 class="section-about__right-title">Решение</h4>
                <p class="section-skills__desr">Для автоматизации обработки запросов была разработана система, состоящая из веб-кабинета для участников и панели управления для организаторов турнира.</p>
                <p class="section-skills__desr">Организаторы турнира раздают участникам адрес кабинета, в котором им необходимо зарегистрироваться. После прохождения проверки (модерации), участнику доступно оформление заявок.</p>
                <p class="section-skills__desr">Получаемые заявки обрабатываются организаторами в панели управления. По завершению обработки, участникам приходит уведомление и необходимая информация о результатах заявки становится доступа в личном кабинете участника.</p>
            </div>
		</div>
	</div>
</section>
