<section class="section-gallery-projects section">
	<div class="container">
		<div class="gallery__container">
			<h3 class="gallery__title">Смотрите так же</h3>
			<ul class="gallery__list">
				<li class="gallery__item">
					<a href="#"><img src="assets/img/galleryProjectsOne.png"></a>
					<div class="gallery__list-atributs">
						<span class="card-atribut-item gallery__list-atributs__atr">test</span>
						<h3 class="gallery__list-atributs__text hidden-md">Приложения для AirFrance</h3>
					</div>
					<h3 class="gallery__list-atributs__text visible-md">Приложения для AirFrance</h3>
				</li>
				<li class="gallery__item">
					<a href="#"><img src="assets/img/galleryProjectsOne.png"></a>
					<div class="gallery__list-atributs">
						<span class="card-atribut-item gallery__list-atributs__atr">test</span>
						<h3 class="gallery__list-atributs__text hidden-md">Приложения для AirFrance</h3>
					</div>
					<h3 class="gallery__list-atributs__text visible-md">Приложения для AirFrance</h3>
				</li>
				<li class="gallery__item">
					<a href="#"><img src="assets/img/galleryProjectsOne.png"></a>
					<div class="gallery__list-atributs">
						<span class="card-atribut-item gallery__list-atributs__atr">test</span>
						<h3 class="gallery__list-atributs__text hidden-md">Приложения для AirFrance</h3>
					</div>
					<h3 class="gallery__list-atributs__text visible-md">Приложения для AirFrance</h3>
				</li>
				<li class="gallery__item">
					<a href="#"><img src="assets/img/galleryProjectsOne.png"></a>
					<div class="gallery__list-atributs">
						<span class="card-atribut-item gallery__list-atributs__atr">test</span>
						<h3 class="gallery__list-atributs__text hidden-md">Приложения для AirFrance</h3>
					</div>
					<h3 class="gallery__list-atributs__text visible-md">Приложения для AirFrance</h3>
				</li>
			</ul>
		</div>
	</div>
</section>