<div class="popupNav-container">
	<div class="container popupNav-content">
		<div class="popupNav-content__head">
			<a href="#">
				<svg class="header__logo" width="310" height="100">
					<use xlink:href="#i-logo"/>
				</svg>
			</a>
			<button class="popupNav-content__exit">
				<svg width="36" height="36">
					<use xlink:href="#i-exit"/>
				</svg>
			</button>
		</div>
		<div class="section-footer__grid">
			<div class="section-footer__item">
				<h4 class="section-footer__title">Компания</h4>
				<ul class="section-footer__list hidden-md">
					<li class="section-footer__list-item">
						<a href="#">О нас</a>
					</li>
					<li class="section-footer__list-item">
						<a href="#">Работа у нас</a>
					</li>
					<li class="section-footer__list-item">
						<a href="#">Блог</a>
					</li>
				</ul>
				<ul class="section-footer__list hidden-md">
					<li class="section-footer__list-item">
						<a href="#">Принципы</a>
					</li>
					<li class="section-footer__list-item">
						<a href="#">Люди</a>
					</li>
					<li class="section-footer__list-item">
						<a href="#">Технологии</a>
					</li>
					<li class="section-footer__list-item">
						<a href="#">Процесс</a>
					</li>
				</ul>
			</div>
			<div class="section-footer__item">
				<h4 class="section-footer__title">Услуги</h4>
				<ul class="section-footer__list hidden-md">
					<li class="section-footer__list-item">
						<a href="#">Онлайн сервисы</a>
					</li>
					<li class="section-footer__list-item">
						<a href="#">IT решения для бизнеса</a>
					</li>
					<li class="section-footer__list-item">
						<a href="#">Разработка приложений</a>
					</li>
				</ul>
				<ul class="section-footer__list hidden-md">
					<li class="section-footer__list-item">
						<a href="#">Проектирование</a>
					</li>
					<li class="section-footer__list-item">
						<a href="#">Разработка ПО</a>
					</li>
					<li class="section-footer__list-item">
						<a href="#">Сопровождение и развитие</a>
					</li>
					<li class="section-footer__list-item">
						<a href="#">Выделенная команда</a>
					</li>
				</ul>
			</div>
			<div class="section-footer__item">
				<h4 class="section-footer__title">Проекты</h4>
				<ul class="section-footer__list hidden-md">
					<li class="section-footer__list-item">
						<a href="#">Мобильные приложения</a>
					</li>
					<li class="section-footer__list-item">
						<a href="#">Онлайн-сервисы</a>
					</li>
					<li class="section-footer__list-item">
						<a href="#">Для бизнеса</a>
					</li>
				</ul>
				<ul class="section-footer__list hidden-md">
					<li class="section-footer__list-item">
						<a href="#">Сфера услуг</a>
					</li>
					<li class="section-footer__list-item">
						<a href="#">Автоматизация бизнеса</a>
					</li>
					<li class="section-footer__list-item">
						<a href="#">Маркетплейсы</a>
					</li>
					<li class="section-footer__list-item">
						<a href="#">Сообщества</a>
					</li>
					<li class="section-footer__list-item">
						<a href="#">Логистика</a>
					</li>
				</ul>
			</div>
			<div class="section-footer__item">
				<h4 class="section-footer__title">Решения</h4>
				<ul class="section-footer__list hidden-md">
					<li class="section-footer__list-item">
						<a href="#">Servetta</a>
					</li>
					<li class="section-footer__list-item">
						<a href="#">Guestbox</a>
					</li>
					<li class="section-footer__list-item">
						<a href="#">Some think</a>
					</li>
				</ul>
				<ul class="section-footer__list hidden-md">
					<li class="section-footer__list-item">
						<a href="#">Онлайн-образование</a>
					</li>
					<li class="section-footer__list-item">
						<a href="#">Маркетплейсы</a>
					</li>
					<li class="section-footer__list-item">
						<a href="#">Веб-сервисы</a>
					</li>
					<li class="section-footer__list-item">
						<a href="#">Веб-приложения</a>
					</li>
					<li class="section-footer__list-item">
						<a href="#">Высоконагружнные проекты</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="footer__bottom">
			<div class="footer__links">
				<a class="footer__phone">+7 (495) 123-45-67</a>
				<a class="footer__email">info@duotek.ru</a>
			</div>
			<div class="footer__docs">
				<span>ООО «КодАпп» ИНН 123456789</span>
				<span>Москва, ул. Пролетарская 16, корп. 2</span>
			</div>
		</div>
	</div>
</div>
