.section-why__list {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    flex-wrap: wrap;
    margin-top: 20px;
    grid-template-columns: repeat(1,1fr);

    @include w-from($screen-md) {
        margin-top: 24px;
    }

    @include w-from($screen-lg) {
        grid-template-columns: repeat(3,1fr);
        margin-top: 40px;
    }
}

.section-why__list li:not(:last-child) {
    margin-bottom: 44px;

    @include w-from($screen-md) {
        margin-bottom: 24px;
    }

    @include w-from($screen-lg) {
        margin-right: 32px;
    }
}

.section-why__icon {
    margin-bottom: 20px;
    height: 32px;
    width: 32px;
}