<section class="section-why section section-gray">
	<div class="container">
		<h2 class="design__h2 h2-title">Зачем нужно проектирование</h2>
		<p class="section-skills__desr">
			Ценностью проектирования является как сам процесс, так и полученный в итоге результат. Процесс проектирования позволяет проработать существующие идеи и увидеть новые. Конечный результат позволяет сформировать и согласовать с командой подробное видение продукта и является основой для старта разработки.
		</p>
		<ul class="section-why__list">
            <li class="section-principles__item">
				<svg class="section-why__icon" width="32" height="32">
					<use xlink:href="#i-page"/>
				</svg>
				<div class="section-principles__item-text">
					<span class="section-principles__span">Продуктовый подход</span>
					<p class="section-principles__descr">Результат нашей работы — эксплуатация разработанного
																																								                            продукта и создание ценности за счет его использования.</p>
				</div>
			</li>
            <li class="section-principles__item">
				<svg class="section-why__icon" width="25" height="32">
					<use xlink:href="#i-ok"/>
				</svg>
				<div class="section-principles__item-text">
					<span class="section-principles__span">Продуктовый подход</span>
					<p class="section-principles__descr">Результат нашей работы — эксплуатация разработанного
																																								                            продукта и создание ценности за счет его использования.</p>
				</div>
			</li>
            <li class="section-principles__item">
				<svg class="section-why__icon" width="32" height="32">
					<use xlink:href="#i-graf"/>
				</svg>
				<div class="section-principles__item-text">
					<span class="section-principles__span">Продуктовый подход</span>
					<p class="section-principles__descr">Результат нашей работы — эксплуатация разработанного
																																								                            продукта и создание ценности за счет его использования.</p>
				</div>
			</li>
            <li class="section-principles__item">
				<svg class="section-why__icon" width="25" height="32">
					<use xlink:href="#i-radio"/>
				</svg>
				<div class="section-principles__item-text">
					<span class="section-principles__span">Продуктовый подход</span>
					<p class="section-principles__descr">Результат нашей работы — эксплуатация разработанного
																																								                            продукта и создание ценности за счет его использования.</p>
				</div>
			</li>
			<li class="section-principles__item">
				<svg class="section-why__icon" width="48" height="52">
					<use xlink:href="#i-directions"/>
				</svg>
				<div class="section-principles__item-text">
					<span class="section-principles__span">Продуктовый подход</span>
					<p class="section-principles__descr">Результат нашей работы — эксплуатация разработанного
																																							                            продукта и создание ценности за счет его использования.</p>
				</div>
			</li>
			<li class="section-principles__item">
                <svg class="section-why__icon" width="32" height="30">
                    <use xlink:href="#i-suitcase"/>
                </svg>
				<div class="section-principles__item-text">
					<span class="section-principles__span">Продуктовый подход</span>
					<p class="section-principles__descr">Результат нашей работы — эксплуатация разработанного
																																						                            продукта и создание ценности за счет его использования.</p>
				</div>
			</li>
		</ul>
	</div>
</section>
