<section class="section-gray section-hero">
	<div class="container">
		<div class="section-hero__content">
			<h1 class="section-hero__title">
				Разработка сложных IT решений для вашего бизнеса
			</h1>
			<p class="section-hero__descr">
				Проектирование и разработка программного обеспечения&nbsp;для бизнеса
			</p>
			<div class="section-hero__controllers">
				<button class="btn btn-application">
					<span>Оставить заявку</span>
					<svg class="btn-application__arrow" width="14" height="14">
						<use xlink:href="#i-arrow-r"/>
					</svg>
				</button>
				<button class="btn btn-dark">
					<span>Презентация</span>
					<svg class="btn-dark__arrow" width="14" height="14" height="14">
						<use xlink:href="#i-arrow-b"/>
					</svg>
				</button>
			</div>
		</div>
		<picture>
			<source srcset="assets/img/handHedaer.png" media="(min-width: 768px)">
			<source srcset="assets/img/handHeaderLg.png" media="(min-width: 668px)">
			<img class="section-hero__hadn" src="assets/img/handHeaderMd.png" alt="hand">
		</picture>
	</div>
</section>
