<section class="section-keys section-white section">
	<div class="container">
		<h2 class="section-keys__title h2-title h2-center">Новые кейсы в&nbsp;портфолио</h2>
		<p class="descr-center">Мы помогает бизнесу и стартапам в России и других странах разрабатывать и
									        внедрять IT-продукты, учитывающие особенности бизнеса, специфику отрасли.</p>
	</div>
	<div class="section-keys__swiper-container ">
		<div class="section-keys__swiper swiper js-keys-carousel">
			<div class="swiper-wrapper">
				<a href="#" class="swiper-slide"><img src="assets/img/MainOne.png"></a>
				<a href="#" class="swiper-slide"><img src="assets/img/MainTwo.png"></a>
				<a href="#" class="swiper-slide"><img src="assets/img/MainThree.png"></a>
				<a href="#" class="swiper-slide"><img src="assets/img/MainThree.png"></a>
				<a href="#" class="swiper-slide"><img src="assets/img/MainThree.png"></a>
			</div>
		</div>
		<div class="section-keys__controls">
			<div class="section-keys__swiper-prev js-keys__swiper-prev">
				<svg width="18" height="18">
					<use xlink:href="#i-arrow-l"></use>
				</svg>
			</div>
			<div class="section-keys__swiper-next js-keys__swiper-next">
				<svg width="18" height="18">
					<use xlink:href="#i-arrow-r"></use>
				</svg>
			</div>
		</div>
	</div>
	<div class="section-keys__partners js-keys__partners swiper">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<svg width="198" height="52">
					<use xlink:href="#i-trace"/>
				</svg>
			</div>
			<div class="swiper-slide">
				<svg width="220" height="42">
					<use xlink:href="#i-luminous"/>
				</svg>
			</div>
			<div class="swiper-slide">
				<svg width="220" height="44">
					<use xlink:href="#i-snap"/>
				</svg>
			</div>
			<div class="swiper-slide">
				<svg width="200" height="50">
					<use xlink:href="#i-hitech"/>
				</svg>
			</div>
			<div class="swiper-slide">
				<svg width="200" height="43">
					<use xlink:href="#i-sitemark"/>
				</svg>
			</div>
			<div class="swiper-slide">
				<svg width="200" height="52">
					<use xlink:href="#i-border"/>
				</svg>
			</div>
		</div>
	</div>
	<div class="section-keys__info container section">
		<div class="info-head">
			<div class="info-text">
				<span class="help__span">полезное</span>
				<h2 class="info-title h2-title">Информация для&nbsp;клиентов</h2>
			</div>
			<button class="btn info-btn btn-red">
				<span>Смотреть&nbsp;все</span>
				<svg class="info-arrow" width="12" height="12">
					<use xlink:href="#i-arrow-r"></use>
				</svg>
			</button>
		</div>
		<div class="info-swiper-container">
			<div class="info-swiper js-info-swiper swiper">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<a href="#" class="info-card card">
							<div class="info-head__img">
								<picture>
									<source srcset="assets/img/cardOne.png" media="(min-width:1024px)">
									<source srcset="assets/img/cardOneLg.png" media="(min-width:667px)">
									<img class="card-img" src="assets/img/cardOneMd.png">
								</picture>
								<ul class="card-atribut">
									<li class="card-atribut-item">Процесс</li>
									<li class="card-atribut-item">бизнес</li>
								</ul>
							</div>
							<div class="card-text">
								<h4 class="card-title">Причины выбрать Flutter для разработки приложений</h4>
								<span class="card-date">20.02.2022</span>
							</div>
						</a>
					</div>
					<div class="swiper-slide">
						<a href="#" class="info-card card">
							<div class="info-head__img">
								<picture>
									<source srcset="assets/img/cardTwo.png" media="(min-width:1024px)">
									<source srcset="assets/img/cardTwoLg.png" media="(min-width:667px)">
									<img class="card-img" src="assets/img/cardOneMd.png">
								</picture>
								<ul class="card-atribut">
									<li class="card-atribut-item">Процесс</li>
									<li class="card-atribut-item">бизнес</li>
								</ul>
							</div>
							<div class="card-text">
								<h4 class="card-title">Архитектура интернет-проектов</h4>
								<span class="card-date">20.02.2022</span>
							</div>
						</a>
					</div>
					<div class="swiper-slide">
						<a href="#" class="info-card card">
							<div class="info-head__img">
								<picture>
									<source srcset="assets/img/cardThree.png" media="(min-width:1024px)">
									<source srcset="assets/img/cardOneLg.png" media="(min-width:667px)">
									<img class="card-img" src="assets/img/cardOneMd.png">
								</picture>
								<ul class="card-atribut">
									<li class="card-atribut-item">Процесс</li>
									<li class="card-atribut-item">бизнес</li>
								</ul>
							</div>
							<div class="card-text">
								<h4 class="card-title">Процесс поддержки и развития</h4>
								<span class="card-date">20.02.2022</span>
							</div>
						</a>
					</div>
					<div class="swiper-slide">
						<a href="#" class="info-card card">
							<div class="info-head__img">
								<picture>
									<source srcset="assets/img/cardOne.png" media="(min-width:1024px)">
									<source srcset="assets/img/cardOneLg.png" media="(min-width:667px)">
									<img class="card-img" src="assets/img/cardOneMd.png">
								</picture>
								<ul class="card-atribut">
									<li class="card-atribut-item">Процесс</li>
									<li class="card-atribut-item">бизнес</li>
								</ul>
							</div>
							<div class="card-text">
								<h4 class="card-title">Причины выбрать Flutter для разработки приложений</h4>
								<span class="card-date">20.02.2022</span>
							</div>
						</a>
					</div>
					<div class="swiper-slide">
						<a href="#" class="info-card card">
							<div class="info-head__img">
								<picture>
									<source srcset="assets/img/cardOne.png" media="(min-width:1024px)">
									<source srcset="assets/img/cardOneLg.png" media="(min-width:667px)">
									<img class="card-img" src="assets/img/cardOneMd.png">
								</picture>
								<ul class="card-atribut">
									<li class="card-atribut-item">Процесс</li>
									<li class="card-atribut-item">бизнес</li>
								</ul>
							</div>
							<div class="card-text">
								<h4 class="card-title">Причины выбрать Flutter для разработки приложений</h4>
								<span class="card-date">20.02.2022</span>
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="info-pagination js-info-pagination swiper-pagination"></div>
		</div>
	</div>
</section>
