<section class="section-blog-list section">
	<div class="container">
		<div class="section-blog-list__container">
			<div class="section-blog-list__swiper js-list__swiper">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<a href="#" class="info-card card">
							<div class="info-head__img">
								<picture>
									<source srcset="assets/img/cardOne.png" media="(min-width:1024px)">
									<source srcset="assets/img/cardOneLg.png" media="(min-width:667px)">
									<img class="card-img" src="assets/img/cardOneMd.png">
								</picture>
								<ul class="card-atribut">
									<li class="card-atribut-item">Процесс</li>
									<li class="card-atribut-item">бизнес</li>
								</ul>
							</div>
							<div class="card-text">
								<h4 class="card-title">Причины выбрать Flutter для разработки приложений</h4>
								<span class="card-date">20.02.2022</span>
							</div>
						</a>
					</div>
					<div class="swiper-slide">
						<a href="#" class="info-card card">
							<div class="info-head__img">
								<picture>
									<source srcset="assets/img/cardOne.png" media="(min-width:1024px)">
									<source srcset="assets/img/cardOneLg.png" media="(min-width:667px)">
									<img class="card-img" src="assets/img/cardOneMd.png">
								</picture>
								<ul class="card-atribut">
									<li class="card-atribut-item">Процесс</li>
									<li class="card-atribut-item">бизнес</li>
								</ul>
							</div>
							<div class="card-text">
								<h4 class="card-title">Причины выбрать Flutter для разработки приложений</h4>
								<span class="card-date">20.02.2022</span>
							</div>
						</a>
					</div>
					<div class="swiper-slide">
						<a href="#" class="info-card card">
							<div class="info-head__img">
								<picture>
									<source srcset="assets/img/cardOne.png" media="(min-width:1024px)">
									<source srcset="assets/img/cardOneLg.png" media="(min-width:667px)">
									<img class="card-img" src="assets/img/cardOneMd.png">
								</picture>
								<ul class="card-atribut">
									<li class="card-atribut-item">Процесс</li>
									<li class="card-atribut-item">бизнес</li>
								</ul>
							</div>
							<div class="card-text">
								<h4 class="card-title">Причины выбрать Flutter для разработки приложений</h4>
								<span class="card-date">20.02.2022</span>
							</div>
						</a>
					</div>
					<div class="swiper-slide">
						<a href="#" class="info-card card">
							<div class="info-head__img">
								<picture>
									<source srcset="assets/img/cardOne.png" media="(min-width:1024px)">
									<source srcset="assets/img/cardOneLg.png" media="(min-width:667px)">
									<img class="card-img" src="assets/img/cardOneMd.png">
								</picture>
								<ul class="card-atribut">
									<li class="card-atribut-item">Процесс</li>
									<li class="card-atribut-item">бизнес</li>
								</ul>
							</div>
							<div class="card-text">
								<h4 class="card-title">Причины выбрать Flutter для разработки приложений</h4>
								<span class="card-date">20.02.2022</span>
							</div>
						</a>
					</div>
					<div class="swiper-slide">
						<a href="#" class="info-card card">
							<div class="info-head__img">
								<picture>
									<source srcset="assets/img/cardOne.png" media="(min-width:1024px)">
									<source srcset="assets/img/cardOneLg.png" media="(min-width:667px)">
									<img class="card-img" src="assets/img/cardOneMd.png">
								</picture>
								<ul class="card-atribut">
									<li class="card-atribut-item">Процесс</li>
									<li class="card-atribut-item">бизнес</li>
								</ul>
							</div>
							<div class="card-text">
								<h4 class="card-title">Причины выбрать Flutter для разработки приложений</h4>
								<span class="card-date">20.02.2022</span>
							</div>
						</a>
					</div>
					<div class="swiper-slide">
						<a href="#" class="info-card card">
							<div class="info-head__img">
								<picture>
									<source srcset="assets/img/cardOne.png" media="(min-width:1024px)">
									<source srcset="assets/img/cardOneLg.png" media="(min-width:667px)">
									<img class="card-img" src="assets/img/cardOneMd.png">
								</picture>
								<ul class="card-atribut">
									<li class="card-atribut-item">Процесс</li>
									<li class="card-atribut-item">бизнес</li>
								</ul>
							</div>
							<div class="card-text">
								<h4 class="card-title">Причины выбрать Flutter для разработки приложений</h4>
								<span class="card-date">20.02.2022</span>
							</div>
						</a>
					</div>
					<div class="swiper-slide">
						<a href="#" class="info-card card">
							<div class="info-head__img">
								<picture>
									<source srcset="assets/img/cardOne.png" media="(min-width:1024px)">
									<source srcset="assets/img/cardOneLg.png" media="(min-width:667px)">
									<img class="card-img" src="assets/img/cardOneMd.png">
								</picture>
								<ul class="card-atribut">
									<li class="card-atribut-item">Процесс</li>
									<li class="card-atribut-item">бизнес</li>
								</ul>
							</div>
							<div class="card-text">
								<h4 class="card-title">Причины выбрать Flutter для разработки приложений</h4>
								<span class="card-date">20.02.2022</span>
							</div>
						</a>
					</div>
					<div class="swiper-slide">
						<a href="#" class="info-card card">
							<div class="info-head__img">
								<picture>
									<source srcset="assets/img/cardOne.png" media="(min-width:1024px)">
									<source srcset="assets/img/cardOneLg.png" media="(min-width:667px)">
									<img class="card-img" src="assets/img/cardOneMd.png">
								</picture>
								<ul class="card-atribut">
									<li class="card-atribut-item">Процесс</li>
									<li class="card-atribut-item">бизнес</li>
								</ul>
							</div>
							<div class="card-text">
								<h4 class="card-title">Причины выбрать Flutter для разработки приложений</h4>
								<span class="card-date">20.02.2022</span>
							</div>
						</a>
					</div>
					<div class="swiper-slide">
						<a href="#" class="info-card card">
							<div class="info-head__img">
								<picture>
									<source srcset="assets/img/cardOne.png" media="(min-width:1024px)">
									<source srcset="assets/img/cardOneLg.png" media="(min-width:667px)">
									<img class="card-img" src="assets/img/cardOneMd.png">
								</picture>
								<ul class="card-atribut">
									<li class="card-atribut-item">Процесс</li>
									<li class="card-atribut-item">бизнес</li>
								</ul>
							</div>
							<div class="card-text">
								<h4 class="card-title">Причины выбрать Flutter для разработки приложений</h4>
								<span class="card-date">20.02.2022</span>
							</div>
						</a>
					</div>
					<div class="swiper-slide">
						<a href="#" class="info-card card">
							<div class="info-head__img">
								<picture>
									<source srcset="assets/img/cardOne.png" media="(min-width:1024px)">
									<source srcset="assets/img/cardOneLg.png" media="(min-width:667px)">
									<img class="card-img" src="assets/img/cardOneMd.png">
								</picture>
								<ul class="card-atribut">
									<li class="card-atribut-item">Процесс</li>
									<li class="card-atribut-item">бизнес</li>
								</ul>
							</div>
							<div class="card-text">
								<h4 class="card-title">Причины выбрать Flutter для разработки приложений</h4>
								<span class="card-date">20.02.2022</span>
							</div>
						</a>
					</div>
                    <div class="swiper-slide">
						<a href="#" class="info-card card">
							<div class="info-head__img">
								<picture>
									<source srcset="assets/img/cardOne.png" media="(min-width:1024px)">
									<source srcset="assets/img/cardOneLg.png" media="(min-width:667px)">
									<img class="card-img" src="assets/img/cardOneMd.png">
								</picture>
								<ul class="card-atribut">
									<li class="card-atribut-item">Процесс</li>
									<li class="card-atribut-item">бизнес</li>
								</ul>
							</div>
							<div class="card-text">
								<h4 class="card-title">Причины выбрать Flutter для разработки приложений</h4>
								<span class="card-date">20.02.2022</span>
							</div>
						</a>
					</div>
                    <div class="swiper-slide">
						<a href="#" class="info-card card">
							<div class="info-head__img">
								<picture>
									<source srcset="assets/img/cardOne.png" media="(min-width:1024px)">
									<source srcset="assets/img/cardOneLg.png" media="(min-width:667px)">
									<img class="card-img" src="assets/img/cardOneMd.png">
								</picture>
								<ul class="card-atribut">
									<li class="card-atribut-item">Процесс</li>
									<li class="card-atribut-item">бизнес</li>
								</ul>
							</div>
							<div class="card-text">
								<h4 class="card-title">Причины выбрать Flutter для разработки приложений</h4>
								<span class="card-date">20.02.2022</span>
							</div>
						</a>
					</div>
                    <div class="swiper-slide">
						<a href="#" class="info-card card">
							<div class="info-head__img">
								<picture>
									<source srcset="assets/img/cardOne.png" media="(min-width:1024px)">
									<source srcset="assets/img/cardOneLg.png" media="(min-width:667px)">
									<img class="card-img" src="assets/img/cardOneMd.png">
								</picture>
								<ul class="card-atribut">
									<li class="card-atribut-item">Процесс</li>
									<li class="card-atribut-item">бизнес</li>
								</ul>
							</div>
							<div class="card-text">
								<h4 class="card-title">Причины выбрать Flutter для разработки приложений</h4>
								<span class="card-date">20.02.2022</span>
							</div>
						</a>
					</div>
                    <div class="swiper-slide">
						<a href="#" class="info-card card">
							<div class="info-head__img">
								<picture>
									<source srcset="assets/img/cardOne.png" media="(min-width:1024px)">
									<source srcset="assets/img/cardOneLg.png" media="(min-width:667px)">
									<img class="card-img" src="assets/img/cardOneMd.png">
								</picture>
								<ul class="card-atribut">
									<li class="card-atribut-item">Процесс</li>
									<li class="card-atribut-item">бизнес</li>
								</ul>
							</div>
							<div class="card-text">
								<h4 class="card-title">Причины выбрать Flutter для разработки приложений</h4>
								<span class="card-date">20.02.2022</span>
							</div>
						</a>
					</div>
                    <div class="swiper-slide">
						<a href="#" class="info-card card">
							<div class="info-head__img">
								<picture>
									<source srcset="assets/img/cardOne.png" media="(min-width:1024px)">
									<source srcset="assets/img/cardOneLg.png" media="(min-width:667px)">
									<img class="card-img" src="assets/img/cardOneMd.png">
								</picture>
								<ul class="card-atribut">
									<li class="card-atribut-item">Процесс</li>
									<li class="card-atribut-item">бизнес</li>
								</ul>
							</div>
							<div class="card-text">
								<h4 class="card-title">Причины выбрать Flutter для разработки приложений</h4>
								<span class="card-date">20.02.2022</span>
							</div>
						</a>
					</div>
                    <div class="swiper-slide">
						<a href="#" class="info-card card">
							<div class="info-head__img">
								<picture>
									<source srcset="assets/img/cardOne.png" media="(min-width:1024px)">
									<source srcset="assets/img/cardOneLg.png" media="(min-width:667px)">
									<img class="card-img" src="assets/img/cardOneMd.png">
								</picture>
								<ul class="card-atribut">
									<li class="card-atribut-item">Процесс</li>
									<li class="card-atribut-item">бизнес</li>
								</ul>
							</div>
							<div class="card-text">
								<h4 class="card-title">Причины выбрать Flutter для разработки приложений</h4>
								<span class="card-date">20.02.2022</span>
							</div>
						</a>
					</div>
                    <div class="swiper-slide">
						<a href="#" class="info-card card">
							<div class="info-head__img">
								<picture>
									<source srcset="assets/img/cardOne.png" media="(min-width:1024px)">
									<source srcset="assets/img/cardOneLg.png" media="(min-width:667px)">
									<img class="card-img" src="assets/img/cardOneMd.png">
								</picture>
								<ul class="card-atribut">
									<li class="card-atribut-item">Процесс</li>
									<li class="card-atribut-item">бизнес</li>
								</ul>
							</div>
							<div class="card-text">
								<h4 class="card-title">Причины выбрать Flutter для разработки приложений</h4>
								<span class="card-date">20.02.2022</span>
							</div>
						</a>
					</div>
                    <div class="swiper-slide">
						<a href="#" class="info-card card">
							<div class="info-head__img">
								<picture>
									<source srcset="assets/img/cardOne.png" media="(min-width:1024px)">
									<source srcset="assets/img/cardOneLg.png" media="(min-width:667px)">
									<img class="card-img" src="assets/img/cardOneMd.png">
								</picture>
								<ul class="card-atribut">
									<li class="card-atribut-item">Процесс</li>
									<li class="card-atribut-item">бизнес</li>
								</ul>
							</div>
							<div class="card-text">
								<h4 class="card-title">Причины выбрать Flutter для разработки приложений</h4>
								<span class="card-date">20.02.2022</span>
							</div>
						</a>
					</div>
                    <div class="swiper-slide">
						<a href="#" class="info-card card">
							<div class="info-head__img">
								<picture>
									<source srcset="assets/img/cardOne.png" media="(min-width:1024px)">
									<source srcset="assets/img/cardOneLg.png" media="(min-width:667px)">
									<img class="card-img" src="assets/img/cardOneMd.png">
								</picture>
								<ul class="card-atribut">
									<li class="card-atribut-item">Процесс</li>
									<li class="card-atribut-item">бизнес</li>
								</ul>
							</div>
							<div class="card-text">
								<h4 class="card-title">Причины выбрать Flutter для разработки приложений</h4>
								<span class="card-date">20.02.2022</span>
							</div>
						</a>
					</div>
                    <div class="swiper-slide">
						<a href="#" class="info-card card">
							<div class="info-head__img">
								<picture>
									<source srcset="assets/img/cardOne.png" media="(min-width:1024px)">
									<source srcset="assets/img/cardOneLg.png" media="(min-width:667px)">
									<img class="card-img" src="assets/img/cardOneMd.png">
								</picture>
								<ul class="card-atribut">
									<li class="card-atribut-item">Процесс</li>
									<li class="card-atribut-item">бизнес</li>
								</ul>
							</div>
							<div class="card-text">
								<h4 class="card-title">Причины выбрать Flutter для разработки приложений</h4>
								<span class="card-date">20.02.2022</span>
							</div>
						</a>
					</div>
                    <div class="swiper-slide">
						<a href="#" class="info-card card">
							<div class="info-head__img">
								<picture>
									<source srcset="assets/img/cardOne.png" media="(min-width:1024px)">
									<source srcset="assets/img/cardOneLg.png" media="(min-width:667px)">
									<img class="card-img" src="assets/img/cardOneMd.png">
								</picture>
								<ul class="card-atribut">
									<li class="card-atribut-item">Процесс</li>
									<li class="card-atribut-item">бизнес</li>
								</ul>
							</div>
							<div class="card-text">
								<h4 class="card-title">Причины выбрать Flutter для разработки приложений</h4>
								<span class="card-date">20.02.2022</span>
							</div>
						</a>
					</div>
                    <div class="swiper-slide">
						<a href="#" class="info-card card">
							<div class="info-head__img">
								<picture>
									<source srcset="assets/img/cardOne.png" media="(min-width:1024px)">
									<source srcset="assets/img/cardOneLg.png" media="(min-width:667px)">
									<img class="card-img" src="assets/img/cardOneMd.png">
								</picture>
								<ul class="card-atribut">
									<li class="card-atribut-item">Процесс</li>
									<li class="card-atribut-item">бизнес</li>
								</ul>
							</div>
							<div class="card-text">
								<h4 class="card-title">Причины выбрать Flutter для разработки приложений</h4>
								<span class="card-date">20.02.2022</span>
							</div>
						</a>
					</div>
                    <div class="swiper-slide">
						<a href="#" class="info-card card">
							<div class="info-head__img">
								<picture>
									<source srcset="assets/img/cardOne.png" media="(min-width:1024px)">
									<source srcset="assets/img/cardOneLg.png" media="(min-width:667px)">
									<img class="card-img" src="assets/img/cardOneMd.png">
								</picture>
								<ul class="card-atribut">
									<li class="card-atribut-item">Процесс</li>
									<li class="card-atribut-item">бизнес</li>
								</ul>
							</div>
							<div class="card-text">
								<h4 class="card-title">Причины выбрать Flutter для разработки приложений</h4>
								<span class="card-date">20.02.2022</span>
							</div>
						</a>
					</div>
                    <div class="swiper-slide">
						<a href="#" class="info-card card">
							<div class="info-head__img">
								<picture>
									<source srcset="assets/img/cardOne.png" media="(min-width:1024px)">
									<source srcset="assets/img/cardOneLg.png" media="(min-width:667px)">
									<img class="card-img" src="assets/img/cardOneMd.png">
								</picture>
								<ul class="card-atribut">
									<li class="card-atribut-item">Процесс</li>
									<li class="card-atribut-item">бизнес</li>
								</ul>
							</div>
							<div class="card-text">
								<h4 class="card-title">Причины выбрать Flutter для разработки приложений</h4>
								<span class="card-date">20.02.2022</span>
							</div>
						</a>
					</div>
                    <div class="swiper-slide">
						<a href="#" class="info-card card">
							<div class="info-head__img">
								<picture>
									<source srcset="assets/img/cardOne.png" media="(min-width:1024px)">
									<source srcset="assets/img/cardOneLg.png" media="(min-width:667px)">
									<img class="card-img" src="assets/img/cardOneMd.png">
								</picture>
								<ul class="card-atribut">
									<li class="card-atribut-item">Процесс</li>
									<li class="card-atribut-item">бизнес</li>
								</ul>
							</div>
							<div class="card-text">
								<h4 class="card-title">Причины выбрать Flutter для разработки приложений</h4>
								<span class="card-date">20.02.2022</span>
							</div>
						</a>
					</div>
                    <div class="swiper-slide">
						<a href="#" class="info-card card">
							<div class="info-head__img">
								<picture>
									<source srcset="assets/img/cardOne.png" media="(min-width:1024px)">
									<source srcset="assets/img/cardOneLg.png" media="(min-width:667px)">
									<img class="card-img" src="assets/img/cardOneMd.png">
								</picture>
								<ul class="card-atribut">
									<li class="card-atribut-item">Процесс</li>
									<li class="card-atribut-item">бизнес</li>
								</ul>
							</div>
							<div class="card-text">
								<h4 class="card-title">Причины выбрать Flutter для разработки приложений</h4>
								<span class="card-date">20.02.2022</span>
							</div>
						</a>
					</div>
                    <div class="swiper-slide">
						<a href="#" class="info-card card">
							<div class="info-head__img">
								<picture>
									<source srcset="assets/img/cardOne.png" media="(min-width:1024px)">
									<source srcset="assets/img/cardOneLg.png" media="(min-width:667px)">
									<img class="card-img" src="assets/img/cardOneMd.png">
								</picture>
								<ul class="card-atribut">
									<li class="card-atribut-item">Процесс</li>
									<li class="card-atribut-item">бизнес</li>
								</ul>
							</div>
							<div class="card-text">
								<h4 class="card-title">Причины выбрать Flutter для разработки приложений</h4>
								<span class="card-date">20.02.2022</span>
							</div>
						</a>
					</div>
                    <div class="swiper-slide">
						<a href="#" class="info-card card">
							<div class="info-head__img">
								<picture>
									<source srcset="assets/img/cardOne.png" media="(min-width:1024px)">
									<source srcset="assets/img/cardOneLg.png" media="(min-width:667px)">
									<img class="card-img" src="assets/img/cardOneMd.png">
								</picture>
								<ul class="card-atribut">
									<li class="card-atribut-item">Процесс</li>
									<li class="card-atribut-item">бизнес</li>
								</ul>
							</div>
							<div class="card-text">
								<h4 class="card-title">Причины выбрать Flutter для разработки приложений</h4>
								<span class="card-date">20.02.2022</span>
							</div>
						</a>
					</div>
                    <div class="swiper-slide">
						<a href="#" class="info-card card">
							<div class="info-head__img">
								<picture>
									<source srcset="assets/img/cardOne.png" media="(min-width:1024px)">
									<source srcset="assets/img/cardOneLg.png" media="(min-width:667px)">
									<img class="card-img" src="assets/img/cardOneMd.png">
								</picture>
								<ul class="card-atribut">
									<li class="card-atribut-item">Процесс</li>
									<li class="card-atribut-item">бизнес</li>
								</ul>
							</div>
							<div class="card-text">
								<h4 class="card-title">Причины выбрать Flutter для разработки приложений</h4>
								<span class="card-date">20.02.2022</span>
							</div>
						</a>
					</div>
                    <div class="swiper-slide">
						<a href="#" class="info-card card">
							<div class="info-head__img">
								<picture>
									<source srcset="assets/img/cardOne.png" media="(min-width:1024px)">
									<source srcset="assets/img/cardOneLg.png" media="(min-width:667px)">
									<img class="card-img" src="assets/img/cardOneMd.png">
								</picture>
								<ul class="card-atribut">
									<li class="card-atribut-item">Процесс</li>
									<li class="card-atribut-item">бизнес</li>
								</ul>
							</div>
							<div class="card-text">
								<h4 class="card-title">Причины выбрать Flutter для разработки приложений</h4>
								<span class="card-date">20.02.2022</span>
							</div>
						</a>
					</div>
                    <div class="swiper-slide">
						<a href="#" class="info-card card">
							<div class="info-head__img">
								<picture>
									<source srcset="assets/img/cardOne.png" media="(min-width:1024px)">
									<source srcset="assets/img/cardOneLg.png" media="(min-width:667px)">
									<img class="card-img" src="assets/img/cardOneMd.png">
								</picture>
								<ul class="card-atribut">
									<li class="card-atribut-item">Процесс</li>
									<li class="card-atribut-item">бизнес</li>
								</ul>
							</div>
							<div class="card-text">
								<h4 class="card-title">Причины выбрать Flutter для разработки приложений</h4>
								<span class="card-date">20.02.2022</span>
							</div>
						</a>
					</div>
					<div class="swiper-slide">
						<a href="#" class="info-card card">
							<div class="info-head__img">
								<picture>
									<source srcset="assets/img/cardOne.png" media="(min-width:1024px)">
									<source srcset="assets/img/cardOneLg.png" media="(min-width:667px)">
									<img class="card-img" src="assets/img/cardOneMd.png">
								</picture>
								<ul class="card-atribut">
									<li class="card-atribut-item">Процесс</li>
									<li class="card-atribut-item">бизнес</li>
								</ul>
							</div>
							<div class="card-text">
								<h4 class="card-title">Причины выбрать Flutter для разработки приложений</h4>
								<span class="card-date">20.02.2022</span>
							</div>
						</a>
					</div>
					<div class="swiper-slide">
						<a href="#" class="info-card card">
							<div class="info-head__img">
								<picture>
									<source srcset="assets/img/cardOne.png" media="(min-width:1024px)">
									<source srcset="assets/img/cardOneLg.png" media="(min-width:667px)">
									<img class="card-img" src="assets/img/cardOneMd.png">
								</picture>
								<ul class="card-atribut">
									<li class="card-atribut-item">Процесс</li>
									<li class="card-atribut-item">бизнес</li>
								</ul>
							</div>
							<div class="card-text">
								<h4 class="card-title">Причины выбрать Flutter для разработки приложений</h4>
								<span class="card-date">20.02.2022</span>
							</div>
						</a>
					</div>
				</div>
				<div class="section-blog__controls">
					<div class="section-keys__swiper-prev js-blog__swiper-prev" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-671210e241db310ff10" aria-disabled="false">
						<svg width="18" height="18">
                            <use xlink:href="#i-arrow-l"></use>
                        </svg>
					</div>
                    <div class="section-blog__pagination"></div>
					<div class="section-keys__swiper-next js-blog__swiper-next" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-671210e241db310ff10" aria-disabled="false">
						<svg width="18" height="18">
							<use xlink:href="#i-arrow-r"></use>
						</svg>
					</div>
				</div>
			</div>
		</section>
