<section class="section-expertise section-white section">
	<div class="container">
		<h2 class="design__h2 h2-title">Экспертиза</h2>
		<p class="section-skills__desr">
			Ценностью проектирования является как сам процесс, так и полученный в итоге результат. Процесс проектирования позволяет проработать существующие идеи и увидеть новые. Конечный результат позволяет сформировать и согласовать с командой подробное видение продукта и является основой для старта разработки.
		</p>
		<div class="expertis__swiper swiper">
			<div class="swiper-wrapper experience__list expertise__list">
				<div class="swiper-slide">
					<div class="experience__item expertise__item  experience__item-active expertise__item-active">
						<span class="experience__item-text">Онлайн-сервисы</span>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="experience__item expertise__item">
						<span class="experience__item-text">Решения для бизнеса</span>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="experience__item expertise__item">
						<span class="experience__item-text">Стек</span>
					</div>
				</div>
			</div>
		</div>
		<ul class="section-why__list section-expertise__list">
			<li class="section-principles__item">
				<svg class="section-why__icon" width="32" height="32">
					<use xlink:href="#i-ball"/>
				</svg>
				<div class="section-principles__item-text">
					<span class="section-principles__span">Продуктовый подход</span>
					<p class="section-principles__descr">Результат нашей работы — эксплуатация разработанного
																																																																						                            продукта и создание ценности за счет его использования.</p>
				</div>
			</li>
			<li class="section-principles__item">
				<svg class="section-why__icon" width="25" height="32">
					<use xlink:href="#i-page"/>
				</svg>
				<div class="section-principles__item-text">
					<span class="section-principles__span">Продуктовый подход</span>
					<p class="section-principles__descr">Результат нашей работы — эксплуатация разработанного
																																																																						                            продукта и создание ценности за счет его использования.</p>
				</div>
			</li>
            <li class="section-principles__item">
				<svg class="section-why__icon" width="36" height="36">
					<use xlink:href="#i-tevideo"/>
				</svg>
				<div class="section-principles__item-text">
					<span class="section-principles__span">Продуктовый подход</span>
					<p class="section-principles__descr">Результат нашей работы — эксплуатация разработанного
																																																																						                            продукта и создание ценности за счет его использования.</p>
				</div>
			</li>
			<li class="section-principles__item">
				<svg class="section-why__icon" width="32" height="32">
					<use xlink:href="#i-shop"/>
				</svg>
				<div class="section-principles__item-text">
					<span class="section-principles__span">Продуктовый подход</span>
					<p class="section-principles__descr">Результат нашей работы — эксплуатация разработанного
																																																																						                            продукта и создание ценности за счет его использования.</p>
				</div>
			</li>
		</ul>
	</div>
</section>
