<section class="section-designing section-gray section">
	<div class="container section-designing__container">
		<h2 class="design__h2 h2-title">Процесс проектирования</h2>
		<p class="section-skills__desr">
			Процесс формирования требований осуществляется итеративно, от меньшей детализации к большей с согласованием промежуточных результатов. Общий срок работ обычно составляет от 4 до 8 недель. Если проект объемный со сложной логикой, может потребоваться больше времени.
		</p>

		<div class="js-section-designing__swiper swiper">
			<ul class="section-designing__list swiper-wrapper">
				<li class="section-designing__item swiper-slide">
					<span class="section-designing__number">1</span>
					<h4 class="section-designing__title">Сбор требований</h4>
					<span class="section-designing__time">
						<svg class="section-designing__icon" width="14" height="14"><use xlink:href="#i-clock"/></svg>1-2 недели</span>
					<dl class="section-designing__dl">
						<dt class="section-designing__dt">Сбор имеющихся требований к системе:</dt>
						<dd class="section-designing__dd">
							<svg class="section-designing__icon" width="6" height="2"><use xlink:href="#i-dash"/></svg>Интервью заинтересованных лиц</dd>
						<dd class="section-designing__dd">
							<svg class="section-designing__icon" width="6" height="2"><use xlink:href="#i-dash"/></svg>Анализ имеющейся документации и наработок</dd>
						<dd class="section-designing__dd">
							<svg class="section-designing__icon" width="6" height="2"><use xlink:href="#i-dash"/></svg>Анализ существующих продуктов в целевой и смежных областях</dd>
					</dl>
				</li>
				<li class="section-designing__item swiper-slide">
					<span class="section-designing__number">2</span>
					<h4 class="section-designing__title">Первичный проект</h4>
					<span class="section-designing__time">
						<svg class="section-designing__icon" width="14" height="14"><use xlink:href="#i-clock"/></svg>1-2 недели</span>
					<dl class="section-designing__dl">
						<dt class="section-designing__dt">Минимальная детализация и промежуточное согласование:</dt>
						<dd class="section-designing__dd">
							<svg class="section-designing__icon" width="6" height="2"><use xlink:href="#i-dash"/></svg>Структура предметной области</dd>
						<dd class="section-designing__dd">
							<svg class="section-designing__icon" width="6" height="2"><use xlink:href="#i-dash"/></svg>Перечень ролей и компонентов</dd>
						<dd class="section-designing__dd">
							<svg class="section-designing__icon" width="6" height="2"><use xlink:href="#i-dash"/></svg>Перечень требований</dd>
						<dd class="section-designing__dd">
							<svg class="section-designing__icon" width="6" height="2"><use xlink:href="#i-dash"/></svg>Перечень бизнес-правил</dd>
						<dd class="section-designing__dd">
							<svg class="section-designing__icon" width="6" height="2"><use xlink:href="#i-dash"/></svg>Прототипы с минимальной детализацией</dd>
						<dd class="section-designing__dd">
							<svg class="section-designing__icon" width="6" height="2"><use xlink:href="#i-dash"/></svg>Согласование промежуточных результатов</dd>
					</dl>
				</li>
				<li class="section-designing__item swiper-slide">
					<span class="section-designing__number">3</span>
					<h4 class="section-designing__title">Детализация</h4>
					<span class="section-designing__time">
						<svg class="section-designing__icon" width="14" height="14"><use xlink:href="#i-clock"/></svg>1-2 недели</span>
					<dl class="section-designing__dl">
						<dt class="section-designing__dt">Итерации проектирования:</dt>
						<dd class="section-designing__dd">
							<svg class="section-designing__icon" width="6" height="2"><use xlink:href="#i-dash"/></svg>Подробное описание требований</dd>
						<dd class="section-designing__dd">
							<svg class="section-designing__icon" width="6" height="2"><use xlink:href="#i-dash"/></svg>Подробное описание бизнес-правил</dd>
						<dd class="section-designing__dd">
							<svg class="section-designing__icon" width="6" height="2"><use xlink:href="#i-dash"/></svg>Детализация прототипов</dd>
						<dd class="section-designing__dd">
							<svg class="section-designing__icon" width="6" height="2"><use xlink:href="#i-dash"/></svg>Согласование промежуточных результатов</dd>
					</dl>
				</li>
				<li class="section-designing__item swiper-slide">
					<span class="section-designing__number">4</span>
					<h4 class="section-designing__title">Финализация</h4>
					<span class="section-designing__time">
						<svg class="section-designing__icon" width="14" height="14"><use xlink:href="#i-clock"/></svg>1-2 недели</span>
					<dl class="section-designing__dl">
						<dt class="section-designing__dt">Финализация проекта:</dt>
						<dd class="section-designing__dd">
							<svg class="section-designing__icon" width="6" height="2"><use xlink:href="#i-dash"/></svg>Финализация документов</dd>
						<dd class="section-designing__dd">
							<svg class="section-designing__icon" width="6" height="2"><use xlink:href="#i-dash"/></svg>Согласование</dd>
						<dd class="section-designing__dd">
							<svg class="section-designing__icon" width="6" height="2"><use xlink:href="#i-dash"/></svg>Презентация результатов</dd>
						<dd class="section-designing__dd">
							<svg class="section-designing__icon" width="6" height="2"><use xlink:href="#i-dash"/></svg>Передача результатов</dd>
					</dl>
				</li>
			</ul>
		</div>
		<div class="section-keys__controls section-designing__controls visible-md">
			<div class="section-keys__swiper-prev js-designing__swiper-prev">
				<svg width="18" height="18">
					<use xlink:href="#i-arrow-l"></use>
				</svg>
			</div>
			<div class="section-keys__swiper-next js-designing__swiper-next">
				<svg width="18" height="18">
					<use xlink:href="#i-arrow-r"></use>
				</svg>
			</div>
		</div>
	</div>
</section>
