<header class="header section-gray">
  <picture>
    <source srcset="assets/img/handHedaer.png" media="(min-width: 600px)">
    <img class="header__hadn" src="assets/img/handHedaer.png" alt="hand">
  </picture>
  <nav class="container header__nav">
    <img class="header__logo" src="assets/img/logo.svg" />
    <div class="header__right">
      <ul class="header__list">
        <li class="header__item"><a href="#">Компания</a></li>
        <li class="header__item"><a href="#">Услуги</a></li>
        <li class="header__item"><a href="#">Проекты</a></li>
        <li class="header__item"><a href="#">Решения</a></li>
        <li class="header__item"><a href="#">Контакты</a></li>
      </ul>
      <svg class="header__burger" width="36" height="28" viewBox="0 0 36 28" fill="none"
           xmlns="http://www.w3.org/2000/svg">
        <path d="M2 26L22 26M2 14L34 14M2 2L14 2" stroke="#C41E3A" stroke-width="3" stroke-linecap="round"
              stroke-linejoin="round" />
      </svg>
    </div>
  </nav>
  <div class="container">
    <div class="header__content">
      <h1 class="header__title">
        Разработка сложных
        IT&nbsp;решений для вашего
        бизнеса
      </h1>
      <p class="header__descr">
        Проектирование и разработка программного
        обеспечения&nbsp;для бизнеса
      </p>
      <div class="header__controllers">
        <button class="btn btn-application">
          <sapn>Оставить заявку</sapn>
          <svg class="btn-application__arrow" width="14" height="14" viewBox="0 0 14 14" fill="none"
               xmlns="http://www.w3.org/2000/svg">
            <path d="M1 7H13M13 7L7 13M13 7L7 1" stroke="white" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
          </svg>
        </button>
        <button class="btn btn-dark">
          <sapn>Презентация</sapn>
          <svg class="btn-dark__arrow" width="14" height="14" viewBox="0 0 14 14" fill="none"
               xmlns="http://www.w3.org/2000/svg">
            <path d="M7 1L7 13M7 13L1 7M7 13L13 7" stroke="#111111" stroke-width="2"
                  stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </button>
      </div>
    </div>
  </div>
</header>
