/*Header*/
.header {
  position: relative;
  overflow: hidden;
  background-color: #FAFAFA;
  padding-top: 24px;

  @include w-from($screen-md) {
    padding-top: 30px;
  }

  @include w-from($screen-lg) {
    padding-top: 60px;
  }

  &__nav {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // margin-bottom: 40px;

    @include w-from($screen-md) {
      // margin-bottom: 72px;
    }

    @include w-from($screen-lg) {
      // margin-bottom: 100px;
    }
  }

  &__burger {
    width: 18px;
    height: 24px;

    @include w-from($screen-md) {
      width: 24px;
      height: 32;
    }
  }

  &__logo {
    width: 144px;
    height: 40px;

    @include w-from($screen-md-2) {
      width: 212px;
      height: 60px;
    }

    @include w-from($screen-md-2) {
      width: 260px;
      height: 70px;
    }

    @include w-from($screen-lg) {
      width: auto;
      height: auto;
    }
  }

  &__list,
  &__right {
    display: flex;
    align-items: center;
  }

  &__list {
    display: none;

    @include w-from($screen-lg) {
      display: flex;
    }
  }

  &__list li {
    padding: 6px 24px;
  }

  &__item {
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    text-transform: uppercase;
  }

  &__item a {
    color: #111111;
  }

  &__content {
    position: relative;
    z-index: 2;
  }

  &__title {
    max-width: 100%;
    margin-top: 0;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 12px;
    text-align: center;

    @include w-from($screen-md) {
      max-width: 54%;
      text-align: start;
      font-size: 42px;
      line-height: 48px;
      margin-bottom: 16px;
    }

    @include w-from($screen-lg) {
      font-size: 52px;
      line-height: 64px;
    }
  }

  &__hadn {
    position: static;
    display: block;
    z-index: 1;
    right: -2px;
    top: 0;
    margin: 0 auto;
    margin-top: 32px;

    @include w-from($screen-md) {
      position: absolute;
      margin-top: 0;
    }

    @include w-from($screen-md-2) {
      right: -450px;
      bottom: -164px;
    }

    @include w-from($screen-lg) {
      right: -210px;
      bottom: -164px;
    }
  }
}